<section class="index_user">
<%= turbo_frame_tag :modal do %>
  <div class="modals"data-controller="turbomodals">
    <div class="form_container">
      <div class="title">
        <h1 class="add_edit_title"><%= t('.tittle') %></h1>
      </div>
      <%= render "form", student: @student %>
      <button data-action="click->turbomodals#submitEnd">cerrar</button> 
    </div>
  </div>
<% end %>
</section>